<h1>Domeny</h1>

<table class="table table-hovered">
  <thead>
    <tr>
      <th>Nazwa domeny</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
        <td><%= link_to 'Zobacz więcej', domain %></td>
        <td><%= link_to 'Usuń', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>